@use "./variables" as var;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.5;
  min-height: 80vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

// *,
// *::before,
// *::after {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

@layer base {
  .btn {
    @apply bg-color-5 p-2 rounded-lg text-white text-center hover:bg-darken-5-100;
  }
}

.card-container label {
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

main {
  max-width: 900px;
  margin-inline: auto;
}

@media screen and (max-width: 800px) {
  main {
    padding: 1.5em;
  }
}
