@use "./variables" as var;

.columns-container {
  .column:first-child {
    background-color: lighten(var.$color-1, 10%);
  }
  .column:nth-child(2) {
    background-color: lighten(var.$color-4, 10%);
  }
  .column:last-child {
    background-color: lighten(var.$color-2, 10%);
  }
}
