@use "./variables" as var;

.banner-container {
  box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.6);
}

.columns-container {
  .column:first-child {
    background-color: lighten(var.$color-1, 10%);
  }
  .column:nth-child(2) {
    background-color: lighten(var.$color-4, 10%);
  }
  .column:last-child {
    background-color: lighten(var.$color-2, 10%);
  }
}
