@use "@/app/ui/variables" as var;

.profile-container {

  .nav-tabs {
    font-size: 1.1rem;
    margin-bottom: 1.5em;
    font-family: "Playpen Sans", cursive;
  }

  p.empty {
    color: darken(var.$color-3, 50%);
  }

  .btn.create-set {
    background-color: var.$color-5;
    border: inherit;
    &:hover {
      background-color: darken(var.$color-5, 20%);
    }
  }
}
