@use "@/app/ui/variables" as var;

.search-container {
  h1 {
    margin-bottom: 1.2em; 
    span{
      color: var.$color-5;
    }
  }

  // If you want to distinguish between the main title and "Couldn't find anything!" message
  h1:not(.no-results) {
    margin-bottom: 1em; 
  }

  h1.no-results {
    font-size: 28px;
    color: darken(var.$color-5, 10%); // A different color to make the no results message distinct
  }
}

@media screen and (max-width: 800px) {
  .search-container h1 {
    font-size: 2.2rem;
  }
}